html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--white-color);
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--dark-color);
  line-height: 1.5;
}

body::after {
  content: "";
  background-image: url(../images/main-background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.div-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0.3rem;
  max-width: 100%;
}

section {
  display: block;
}

.hide {
  display: none;
}
