:root {
  --white: #fff;
  --black: #000;
  --light-blue: #8ecae6;
  --light-grey: rgba(192, 192, 192, 0.3);
  --blue: #219ebc;
  --dark-blue: #023047;
  --yellow: #ffb703;
  --dark-yellow: #fb8500;
  --font-text: 'Lato', sans-serif;
  --font-title: 'COCOGOOSE', sans-serif;
}
