button {
  background-color: var(--dark-yellow);
  color: var(--white);
  border: none;
  text-align: center;
  font-weight: 400;
  border-radius: 0.3rem;
}

hr {
  margin: 0 auto 1rem;
  background-color: var(--dark-yellow);
  width: 10rem;
  height: 1px;
  border: none;
}
