#contact-section .div-container {
  width: 80vw;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

p {
  text-align: left;
}

#contact-section ul li {
  display: list-item;
  list-style-image: url(../images/books.png);
}
